{{- $name := promptString "What is your full name" -}}
{{- $email := promptString "What is your email address" -}}
{{- $editor := promptString "What is your preferred editor (code/vim/nano)" -}}
{{- $gpgSign := promptBool "Enable GPG commit signing" -}}

[data]
    name = {{ $name | quote }}
    email = {{ $email | quote }}
    editor = {{ $editor | quote }}
    gpgSign = {{ $gpgSign }}

[diff]
    pager = "delta"

[merge]
    command = "nvim"
    args = ["-d"]
